<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>HOME</title>
</head>
<body>
<nav class="navbar">
        <span class="open-side">
            <a href="#" onclick="openSideMenu()">
                <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"></path>
                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"></path>
                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"></path>
                </svg>
            </a>
        </span>
    <ul class="navbar-nav">
        <li><a href="home" >HOME</a></li>
        <li><a href="index" >Check</a></li>
        <li><a href="wordcloud" >ECCV2018</a></li>
        <li><a href="ICCV2019">ICCV2019</a></li>
        <li><a href="compare ">Compare</a></li>
    </ul>
</nav>

<div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
    <a href="home">HOME</a>
    <a href="index" >Check</a>
    <a href="wordcloud" >ECCV2018</a>
    <a href="ICCV2019">ICCV2019</a>
    <a href="compare ">Compare</a>
</div>
<header>
    <div id="showcase">
        <div class="showcase-content">
            <h1>欢迎来到 <span class="text-primary">顶上论文检索</span></h1>
            <p>
                主要用于论文的检索和热点分析
            </p>
            <a href="https://www.cnblogs.com/huangmouren233/" class="btn">关于作者</a>
        </div>
    </div>
</header>
<script>
    function openSideMenu() {
        document.getElementById('side-menu').style.width = '250px';
        document.getElementById('main').style.marginLeft = '250px';
    }

    function closeSideMenu() {
        document.getElementById('side-menu').style.width = '0';
        document.getElementById('main').style.marginLeft = '0';
    }
</script>
</body>
</html>